/* @import url(https://fonts.googleapis.com/css?family=Oswald); */
/* @import url(https://fonts.googleapis.com/css?family=Inconsolata); */
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/inconsolata.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  text-decoration: none;
  list-style: none;
  color: #fff;
}
body {
  font-family: "Oswald";
  background-color: rgb(41, 62, 67);
  width: 100vw;
  height: 200vh;
}
header{
  width: 100%;
  height: fit-content;
}
.navigation{
  position: fixed;
  width: 100%;
  background-color: rgba(88, 88, 88, 0.3);
  z-index: 100;
}
.navigation nav .navigation-items{
  display: flex;
  gap: 1rem;
  padding: .5rem;
}
.navigation nav .navigation-items li:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.navigation nav .navigation-items li a:active {
  color: rgb(75, 252, 252);
}
.video{
  width: 100%;
  height: 300px;
}
.video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main{
  width: 90%;
  /* margin: auto; */
}
h1 a{
  color: rgb(4, 213, 4);
}
article{
  margin-top: 1rem;
}
article section{
  display: flex;
  gap: 1rem;
}
section div span{
  display: inline-block;
  margin-bottom: 1rem;
}
aside{
  margin-top: 1rem;
  width: 100%;
}
aside section{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
aside section div {
  width: 50%;
}


